@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arcade: var(--font-press-start-2p), var(--font-fushion-12);
  --font-handjet: var(--font-handjet), var(--font-fushion-12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-retro {
  font-family: var(--font-arcade);
  letter-spacing: 2px;
}

.font-handjet {
  font-family: var(--font-handjet), var(--font-fushion-12);
  font-size: 25px;
  line-height: 1.2;
}
