name: Upload JAR Artifact on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'website/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            platform: mac
          - os: ubuntu-latest
            platform: linux
          - os: windows-latest
            platform: win

    name: Build for ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build with Maven
        run: mvn clean package

      - name: Rename jar
        run: |
          mkdir output
          cp target/dinosaur-exploder-*.jar output/Dinosaur-Exploder-${{ matrix.platform }}.jar

      - name: Upload single jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: dinosaur-exploder-${{ matrix.platform }}
          path: output/