name: "Lint Commit Messages"

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  main:
    name: Validate Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check Commit Message Format
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.json