name: Reviewdog - Code Formatting

on:
  pull_request_target:
    branches: [main]
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}
          restore-keys: ${{runner.os}}-m2

      - name: Run Spotless with reviewdog
        uses: reviewdog/action-suggester@v1
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          tool_name: Spotless
          level: error
          fail_on_error: true
          filter_mode: diff_context